header{
    background-color: aquamarine;
}
h1{
    color: rgb(49, 155, 28);
}
main{
    text-align: center;
}
footer p{
    color: rgb(218, 201, 201);
    text-align: center;
}
footer{
    background-color: rgb(112, 172, 154);
    margin: 20px;
}